#view {
  position: relative;
}

.player {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
}

.circleBase {
  position: absolute;
  border-radius: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.rules {
  position: absolute;
  right: 20px;
}

.message {
  position: relative;
  padding: 3px;
  /* border-top: 1px dotted #fff;*/
}

#messageBox {
  position: absolute;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  opacity: 1;
  z-index: 100;
  color: #3992ff;
  font-family:"Arial";
  top: 0px;
  right: 0px;
  border: 1px solid #000;
  border-radius: 5px;
}
